<div class="ml-5">
  <br />
  <button
    onclick="location.href='/'"
    class="bg-blue-800 rounded p-2 text-white font-bold"
  >Go Back Home</button>
  <br />
  <br />
  <h1> Room: {{roomName}}</h1>
</div>

<form id="nicknameForm" class="flex justify-center mt-8">
  <div class="max-w-xl w-full bg-blue-200 p-5">
    <div class="mb-4">
      <label
        for="nicknameInput"
        class="block text-gray-700 text-sm font-bold mb-2"
      >nickname:</label>
      <input
        id="nicknameInput"
        type="text"
        placeholder="Enter your nickname"
        class="w-full px-4 py-2 rounded-lg border-gray-300 focus:outline-none focus:border-blue-500"
        required
      />
    </div>
    <button
      id="nicknameButton"
      class="bg-blue-500 text-white px-4 py-2 rounded-lg"
    >Enter Chatroom</button>
  </div>
</form>

<div
  id="chatRoomContainer"
  class="max-w-xl w-full bg-blue-200 p-5"
  style="visibility: hidden;"
>
  <div id="chatroomMessages"></div>
  <div class="mt-5">
    <div class="flex max-w-xl w-full bg-white mt-5 p-3 rounded-lg">
      <input
        id="messageInput"
        type="text"
        placeholder="Type your message..."
        class="w-full px-4 py-2 rounded-lg border-gray-300 focus:outline-none focus:border-blue-500"
      />
      <button
        id="sendMessageBtn"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg ml-2"
      >Send</button>
    </div>
  </div>
</div>

<script src="/room.js"></script>